<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/search/search.css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="search-totoal-box">

    <div class="header_bottom"> <!-- 검색어 부분-->
        <div class="header_bottom_inner"></div>
        <div class="search-box">
            <img class="search_img" src="http://www.monami.com/images/common/btn_search.gif" alt="">
            <div class="search_text">
                <input type="text" placeholder="검색어를 입력하세요" class="input_content">
            </div>
        </div>
    </div>

    <!-- 최근 검색어 -->
    <div class="recent_search">
        <p>최근 검색어가 없습니다</p>
        <p>도서를 검색해보세요</p>
    </div>
</div>
</body>
</html>