<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/debatemack.css}"/>
    <script defer th:src="@{/js/debate/debateinpo.js}"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="board-main-box">
<aside class="aside-total-box">
    <div class="sticky">
        <div class="aside-object">
            <h1>프로필 사진 자리</h1>
        </div>
        <div class="aside-text">
            <h3>아이디</h3>
        </div>
        <div class="aside-text">
            <h2>닉네임</h2>
        </div>
    </div>
</aside>
<!--토론선택하기-->
<div class="obtion">
    <div class="fadeIn">
        <h1 class="gather-title"><span class="gather-title-text">어떤 종류의 토론을 하고 싶으세요?</span></h1>
    </div>
    <form action="/member/debatetype" method="post">
<!--        공고형-->
    <div class="gather-box">
        <div class="fadeIn-style">

            <div class="gather-create-option">
                <h2 class="gather-create-title">
                    <span class="gather-create-title-text">공고형</span>
                    <span class="gather-create-content-text">내가 원하는 책으로 토론을하고싶어요</span>
                </h2>
            </div>
            <div class="gather-create-radio">
        <label class="gather-create-radio-box">
            <input type="radio" checked="checked" class="gather-create-radio-butten" name="debateType" value="1">
        </label>

            </div>

        </div>
<!--        자유형-->
        <div class="fadeIn-style">

            <div class="gather-create-option">
                <h2 class="gather-create-title">
                    <span class="gather-create-title-text">자유형</span>
                    <span class="gather-create-content-text">각자 자유롭게 책을 읽은후 의견을 나누고 싶어요</span>
                </h2>
            </div>
            <div class="gather-create-radio">
                <label class="gather-create-radio-box">
                    <input type="radio" class="gather-create-radio-butten" name="debateType" value="2">
                </label>
                <label class="gather-create-radio-line">
                </label>
            </div>

        </div>
<!--        장르형 -->
        <div class="fadeIn-style">

        <div class="gather-create-option">
            <h2 class="gather-create-title">
                <span class="gather-create-title-text">장르형</span>
                <span class="gather-create-content-text">특정 장르만 정한후 팀원과 함께 책을 고르고싶어요</span>
            </h2>
        </div>
        <div class="gather-create-radio">
            <label class="gather-create-radio-box">
                <input type="radio" class="gather-create-radio-butten" name="debateType" value="3">
            </label>
            <label class="gather-create-radio-line">
            </label>
        </div>
    </div>
        <!--            버튼처리-->
        <div class="gather-create-butten-div">
            <button class="gather-create-butten-before" >
                이전
            </button>
            <button type="submit"class="gather-create-butten-dv1" >
                다음
            </button>
        </div>
    </div>
    </form>
</div>
</main>
</body>
</html>