<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/debateboard.css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--토론선택하기-->
<div class="board-total-box">
<main class="board-main-box">
<!--    유저 정보-->
    <aside class="aside-total-box">
       <div class="sticky">
        <div class="aside-object">
            <h1>책사진자리</h1>
        </div>
        <div class="aside-text">
            <h3>온라인</h3>
        </div>
        <div class="aside-text">
            <h2>돈키호테(책제목)</h2>
        </div>
        <div class="aside-text">
            <h4>돈키호테를 읽고 생각을 나눠요</h4>
        </div>
           <div class="aside-text">
               <h6>2024-07-04 ~
                   2024-08-04 </h6>
           </div>
           <div class="aside-button">
                <h4>글쓰기</h4>
           </div>
        </div>
    </aside>
<!--    게시판-->
    <div class="board-object-box">
        <div class="board-object">
            <h1>게시판</h1>
        </div>
        <div class="board-object">
            <h1>게시판</h1>
        </div>
        <div class="board-object">
            <h1>게시판</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>

    </div>


</div>
</body>
</html>