<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/debateboard.css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--토론선택하기-->
<div class="board-total-box">
<main class="board-main-box">
<!--    유저 정보-->
    <aside class="aside-total-box">
       <div class="sticky">
        <div class="aside-object">
            <h1>사진자리</h1>
        </div>
        <div class="aside-object">
            <h1>매일, 일상 원어민 영어</h1>
        </div>
        <div class="aside-object">
            <h2>매일매일 일상에서 원어민들이 자주 사용하는 표현을 업로드해요! 서로 배운 것들을 공유하고, 또 ”이건 어떻게 영</h2>
        </div>
        <div class="aside-object">
            <h2>매일이즐거워요</h2>
        </div>
        </div>
    </aside>
<!--    게시판-->
    <div class="board-object-box">
        <div class="board-object">
            <h1>게시판</h1>
        </div>
        <div class="board-object">
            <h1>게시판</h1>
        </div>
        <div class="board-object">
            <h1>게시판</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>
        <div class="board-object">
            <h1>게시판---------------------------------------------------</h1>
        </div>

    </div>

</main>
</div>
</body>
</html>