

/*헤더 부분 끝*/
.board-total-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
}
.board-main-box{

    display: flex;
}
.aside-total-box{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 28px 0;
    width: 200px;

}
.sticky{
    position:sticky;
    top:20px;
    padding-bottom: 10px;
}
.aside-object{
    width: 104px;
    height: 104px;
    margin-bottom: 20px;
    border:1px solid #000000;
}
.board-object-box{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: 30px;
    padding-left:11px;
    border-left:1px solid #dee2e6;
    border-right:1px solid #dee2e6;
    align-items: center;
}
.aside-button{
    background-color: #bd7f7f;
    display:flex;
    justify-content: center;
    border-radius: 5px;
}
.aside-text{
    padding-bottom: 5px;
    max-height: 54px;
}
.board-object-in-box{
    width:530px ;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom:1px solid #dee2e6;

}

.board-object-user-img{
    width: 36px;
    height: 36px;
}
.board-object-user{
    width:530px ;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;

}
.board-object-user-inpo{
    display: flex;
    flex-direction: column
}
.board-object-user-name{
    font-size:20px
}
.board-object-user-date{
    font-size:10px
}
.board-object-user-btn{
    display: flex;
}
.bard-objleect-tito{
    width:530px ;
    margin: 10px 0
}
.board-object-contnet{
    width:530px ;
    margin: 10px 0;
    padding-bottom: 30px;
    border-bottom:1px solid #dee2e6;
}
.board-object-comment{
display: flex;
    flex-direction: column;


}
.board-object-comment-inop-box{
    width:530px ;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}
.board-object-comment-text-box{
    width:530px ;
}